nav > ul > li {
    display: inline;
  
}

nav li  > a {
    text-decoration: none;
}

label {
    display: block;
    margin: 10px;
}
table {
    border-collapse: collapse;
}
td, th {
    border: 1px solid black;
    padding: 5px 10px;
}